@import './../../variables/variables';
footer {
  font-size: $msb-font-size-xsmall;
  padding: 0.5rem;
  text-align: center;
  color: $msb-color-text-mid-emphasis-on-light;
  padding-bottom: 3.5rem;
}
